header {
  height: 3rem;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.home-page {
  margin: 5rem 0;
  padding: 0.5rem;
}

.hp-image {
  width: 100%;
}

footer {
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: initial;
  font-size: 2rem;
}

.refresh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redo {
  margin: 2px;
}

.food-beer {
  font-size: 1.75rem;
}

.recipe-window {
  display: flex;
  flex-direction: column;
}

.window-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 100vw;
  min-height: 77vh;
  max-height: 77vh;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.beer-img {
  width: 50%;
  height: 15rem;
  align-self: center;
  object-fit: contain;
}

.combo-window {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 100vw;
  min-height: 12rem;
  max-height: 12rem;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.beer-combo-row {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.beer-combo-row:nth-child(2) {
  flex-direction: column;
}

.beer .beer-img {
  height: 10rem;
  object-fit: contain;
}

.combo-window.recipe {
  text-align: left;
  min-width: 14.5rem;
  min-height: 14.5rem;
}

.taco-and-beer-window {
  text-align: center;
}

.combo-footer {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  line-height: 1rem;
}

.row {
  text-align: center;
}

.saved-image {
  width: 75%;
  height: 9rem;
  align-self: center;
  object-fit: cover;
}

.saved-items-view {
  text-align: center;
}

.saved-items-window {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-width: 100vw;
  min-height: 77vh;
  max-height: 77vh;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.saved-item.beer,
.saved-item.recipe {
  display: flex;
  justify-content: center;
  margin: 0.25rem;
  text-align: center;
  max-height: 8rem;
  min-height: 8rem;
  align-items: center;
}

.beer-container .beer-img {
  height: 5rem;
  object-fit: contain;
}

.saved-item.combo {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0.25rem;
  text-align: center;
  max-height: 8rem;
  min-height: 8rem;
  align-items: center;
}

.combo-beer-img {
  height: 5rem;
  object-fit: contain;
}

.recipe {
  text-align: start;
}

.error-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* iphone 6/7/8 landscape */

@media screen and (width: 667px) {
  .window {
    max-height: 60vh;
    min-height: 60vh;
  }

  .taco-and-beer-window {
    margin-bottom: 5rem;
  }

  .saved-window {
    display: flex;
    height: 75vh;
  }

  .saved-items-window {
    min-height: 60vh;
    max-height: 60vh;
  }

  .beer-window .window {
    text-align: center;
  }

  .beer-img {
    height: 12rem;
  }

  .beer .beer-image {
    height: 8rem;
  }

  .combo-window.beer {
    flex-direction: row;
  }

  .beer-combo-row {
    width: 50%;
    flex-direction: column;
    justify-content: end;
  }

  .beer-header {
    font-size: 0.75rem;
  }
}

/* Iphone x landscape */

@media screen and (width: 812px) {
  .window {
    max-height: 60vh;
    min-height: 60vh;
  }
}

/* Ipad Portrait */

@media screen and (width: 768px) {
  i {
    font-size: 1.5rem;
  }

  .home-page {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .hp-image {
    width: 50%;
  }

  .saved-window {
    align-items: center;
    height: 90vh;
  }

  .saved-window button {
    height: calc(100% / 3);
  }

  .window {
    max-height: 80vh;
    min-height: 80vh;
  }

  .beer-window .window {
    flex-direction: column;
    text-align: center;
  }

  .beer-header {
    font-size: 2rem;
  }

  .combo-window.beer {
    min-height: 20rem;
    max-height: 20rem;
    display: flex;
    flex-direction: row;
  }

  .beer-combo-row {
    width: 50%;
  }

  .beer-combo-row h2 {
    font-size: 2rem;
  }

  .combo-window.recipe {
    min-height: 28rem;
    max-height: 28rem;
  }

  .taco-and-beer-window {
    margin-bottom: 4rem;
  }
}

/* Iphone 5/SE */

@media screen and (width: 320px) {
  h1 {
    font-size: 1rem;
  }

  .navigation .food-beer {
    font-size: 1.5rem;
  }

  .window {
    max-height: 70vh;
    min-height: 70vh;
  }

  .combo-window.recipe {
    max-height: 10rem;
    min-height: 10rem;
  }

  .combo-window.beer {
    max-height: 10rem;
    min-height: 10rem;
  }
}

[data-view="hidden"] {
  display: none;
}
