header {
  height: 3rem;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

.home-page {
  margin: 5rem 0;
  padding: 0.5rem;
}

.hp-image {
  border-radius: 5px;
  width: 100%;
}

footer {
  height: 3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navigation {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: initial;
  font-size: 2rem;
}

.refresh {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redo {
  margin: 2px;
}

.food-beer {
  font-size: 1.75rem;
}

.recipe-window {
  display: flex;
  flex-direction: column;
}

.window-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.window {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-width: 100vw;
  min-height: 77vh;
  max-height: 77vh;
  background-color: white;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.beer-img {
  width: 50%;
  height: 15rem;
  align-self: center;
  object-fit: contain;
}

.combo-window {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-width: 100vw;
  min-height: 12rem;
  max-height: 12rem;
  background-color: white;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.beer-combo-row {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.beer-combo-row:nth-child(2) {
  flex-direction: column;
}

.beer .beer-img {
  height: 10rem;
  object-fit: contain;
}

.combo-window.recipe {
  text-align: left;
  min-width: 14.5rem;
  min-height: 14.5rem;
}

.taco-and-beer-window {
  text-align: center;
}

.combo-footer {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  line-height: 1rem;
}

.row {
  text-align: center;
}

.saved-image {
  width: 75%;
  height: 9rem;
  align-self: center;
  object-fit: cover;
}

.saved-items-view {
  text-align: center;
}

.saved-items-window {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-width: 100vw;
  min-height: 77vh;
  max-height: 77vh;
  background-color: white;
  margin-right: 1rem;
  margin-left: 1rem;
  padding: 0 1rem;
}

.saved-item.beer,
.saved-item.recipe {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.25rem;
  text-align: center;
  max-height: 8rem;
  min-height: 8rem;
  align-items: center;
}

.beer-container .beer-img {
  height: 5rem;
  object-fit: contain;
}

.saved-item.combo {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0.25rem;
  text-align: center;
  max-height: 8rem;
  min-height: 8rem;
  align-items: center;
  font-size: 0.5rem;
}

.combo-beer-img {
  height: 5rem;
  object-fit: contain;
}

.recipe {
  text-align: start;
}

.error-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(83, 83, 83, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 15rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  background-color: gray;
  justify-content: center;
  align-items: center;
}

[data-view="hidden"] {
  display: none;
}
